.form-control{
  position: relative;
  top:400px;
  padding: 20px;
  width : 600px;
  align-items: center;
  margin-left: 370px;
}
body{
  background-color: aqua;
}
.button{
  position: relative;
  top: 320px;
  left :1000px;
  size: 40cm;
}